@model AdmissionWebsiteFinal.Models.SessionViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div style="margin-bottom:50px;">
    <a asp-action="Index">Back to List</a>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @(Model.Active?"Yes":"No")
        </dd>
        <dd class="col-sm-10">
            @(Model.ConfirmationStage?"Yes":"No")
        </dd>
    </dl>
</div>

<h2 style="margin-bottom:20px;">Actions</h2>
<div class="row g-3 align-items-center" style="margin-bottom:50px;">
    @if (Model.Active)
    {
        <div class="col-auto">
            <a asp-action="End" asp-route-id="@Model.Id" class="btn btn-danger">End Session</a>
        </div>
        <div class="col-auto">
            <a asp-action="StartConfirmationStage" asp-route-id="@Model.Id" class="btn btn-warning">Start Confirmation Stage</a>
        </div>
    }
    <div class="col-auto">
        <a asp-action="Index" asp-controller="Standings" asp-route-id="@Model.Id" class="btn btn-primary">Standings</a>
    </div>
</div>

<div>
    <h2>Specializations</h2>
    <br />
    @if (Model.Active)
    {
        <a asp-action="AddOption" class="btn btn-success">Add</a>
        <br />
        <br />
    }
    @if (Model.Options != null)
    {


        <table class="table text-nowrap table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Nume
                    </th>
                    <th>
                        Locuri Buget
                    </th>
                    <th>
                        Locuri Taxa
                    </th>
                    <th>
                        Locuri Rromi
                    </th>
                    <th>
                        Locuri Romani de pretutindeni
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Options)
                {
                    <tr>
                        <td>
                            @(item.Specialization.Name)
                        </td>
                        <td>
                            @(item.LocuriBuget)
                        </td>
                        <td>
                            @(item.LocuriTaxa)
                        </td>
                        <td>
                            @(item.LocuriRrom)
                        </td>
                        <td>
                            @(item.LocuriRomanDePretutindeni)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
