@model IEnumerable<AdmissionWebsiteFinal.Models.SessionViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Sessions</h1>

<p>
    <a asp-action="Create">Add session</a>
</p>
@Html.ValidationSummary(false, "", new { @class = "text-danger" })
<h3>Current Active Session</h3>
@if (SessionViewModel.CurrentActiveSession != null)
{
    string tableColor = "table-success";

    @if (SessionViewModel.CurrentActiveSession.Expired)
    {
        <p class="text-danger">
            Session expired.
        </p>
        tableColor = "table-danger";
    }
    else if (SessionViewModel.CurrentActiveSession.ConfirmationStage)
    {
        <p class="text-warning">
            Confirmation stage has started.
        </p>
        tableColor = "table-warning";
    }

    <div class="container mb-5">
        <table class="table table-bordered @tableColor">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Active
                    </th>
                    <th>
                        Confirmation Stage
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @SessionViewModel.CurrentActiveSession.Id
                    </td>
                    <td>
                        @SessionViewModel.CurrentActiveSession.StartDate
                    </td>
                    <td>
                        @SessionViewModel.CurrentActiveSession.EndDate
                    </td>
                    <td>
                        @(SessionViewModel.CurrentActiveSession.Active ? "Yes" : "No")
                    </td>
                    <td>
                        @(SessionViewModel.CurrentActiveSession.ConfirmationStage ? "Yes" : "No")
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@SessionViewModel.CurrentActiveSession.Id">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
<h3 class="mb-5">
    Session History
</h3>
<table class="table text-nowrap table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @(item.Active?"Yes":"No")
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
