@model IEnumerable<AdmissionWebsiteFinal.Models.AdmissionEntryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="RegisterError">
    <div class="form-row mb-4 mt-3">
        <div class="col-5">
            <input type="text" class="form-control">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<table class="table text-nowrap table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContestantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contestant.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contestant.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContestantId)
                </td>
                <th class="font-weight-normal">
                    @Html.DisplayFor(modelItem => item.Contestant.FirstName)
                </th>
                <th class="font-weight-normal">
                    @Html.DisplayFor(modelItem => item.Contestant.LastName)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="EntryDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
